.bg-black {
  background: #000;
}
.max-w-300 {
  max-width: 300px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form_card {
  border: 1px solid white;
  border-radius: 5px;
}
p {
  margin-bottom: 0 !important;
  color: red;
}
.shad_btn {
  border: 1px solid white;
  border-radius: 5px;
}
.custom_input {
  outline: none;
  margin-top: 15px;
  padding: 5px;
}

.sub_btn {
  border: 2px solid black;
  border-radius: 2px;
  transition: all 400ms linear;
}

.sub_btn:enabled {
  cursor: pointer;
  background: gray;
}
